Source: zero-lliurex-sketchup
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: llxsrchelper,debhelper (>= 10),zero-dev
Standards-Version: 4.1.2

Package: zero-lliurex-sketchup
Architecture: all
Depends: ${misc:Depends},wine-stable,epi-gtk
Description: Google Sketchup Installer
 Installer for google Sketchup
